FLASK_APP=app
DEBUG=True
PGDATABASE_URL=postgresql://rizal:rizal@127.0.0.1:5432/pylon
PYLONSERVER=
PYLONDATABASE=
PYLONUSERNAME=
PYLONPASSWORD=
JWT_SECRET_KEY=

# PGDATABASE_URL=postgresql://pylon:pylon@db:5432/pylon
DOCKERDBNAME=pylon
DOCKERDBPASS=pylon
DOCKERDBHOST=db
DOCKERDBUSER=pylon
